<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

	<title>HealthCruncher</title>
</head>

<body>
  <h1>healthcruncher</h1>
  <div class="image-group">
    <div class="sub">
    <img src="{{ url_for('static', filename='imgs/doctorpatient.jpg') }}" alt="DoctorPatient" id="imgdp">
    </div>
    </div>
    <h3> We want to provide you with most accurate health predictions </h3>
    <h4>Enter weight and height:</h4>
  <form action="." method="POST">
  <div class="form-group">
    <label for="weight">weight</label>
    <input type="text" class="form-control" id="weight" placeholder="weight" name="weight">
  </div>
  <div class="form-group">
    <label for="height">height</label>
    <input type="text" class="form-control" id="height" placeholder="height" name="height">
  </div>
  <button type="submit" class="btn btn-default">Submit</button name="my-form">
</form>
</body>

</html>
