<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>HealthCruncher</title>
</head>

<body>
    <div class="container">
        <div class="content-container">
            <div class="image-group">
                <img src="{{ url_for('static', filename='imgs/logo_transparent.png') }}" alt="logo" id="logo">
            </div>
            <h3>We use machine learning to make the most accurate health predictions.</h3>
            <h2>Try our demo!</h2>
            
            <div class="form-container">
                <div class="button-group-container">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Friendly</button>
                        <button type="button" class="btn btn-default">API (JSON)</button>
                    </div>
                </div>
                <h4>Please answer a few questions to get started.</h4>
                <form method="POST" action="/api">
                    <div class="form-group">
                        {{ form.height.label }}
                        {{ form.height(class="form-control", placeholder="in inches") }}
                    </div>
                    <div class="form-group">
                        {{ form.weight.label }}
                        {{ form.weight(class="form-control", placeholder="in pounds") }}
                    </div>
                    
                    {% for field in fields %}
                    <div class="form-group">
                        {{ form[field].label(class="control-label") }}
                        {{ form[field](class="form-control") }}
                    </div>
                    {% endfor %}

                    <div class="button-container">
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button type="reset" class="btn btn-warning">Reset</button>
                    </div>
                </form>
            </div>
            <div class='footer-container'>
                <a href="https://github.com/rainiera/health-hack" target="_blank">enough talk, show me the code</a>
            </div>
        </div>
    </div>
</body>

</html>
